html{
	
	font-family:"Verdana";
	width: "60%";
	float: "center";
	background-color: "#CBCBCB";
}
th{
	font-size: 70%;
}
.tt{
	color:#666;
	font-size: 60%;
}
body {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
 
  min-width: 960px;
}
p{
  color: #666;
}

h6{
  color: #666;
}
td{
	font-size:13px;
}
ul{
	color: #666;
	font-size: 80%;
}
